@using Domain.Constants
@using Microsoft.AspNetCore.Mvc.Localization;

@model Razor.ViewModels.Layout.SlideViewModel

<!-- slide
============================================= -->

<li data-index="rs-@Model.Index" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/images/parallax/2.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
	<!-- MAIN IMAGE -->
	<img src="@Model.Images.First(x => x.Key == KeyBuilder.Parallax()).Src" alt="@Model.Images.First(x => x.Key == KeyBuilder.Parallax()).Alt" data-bgposition="right center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="300 0" data-bgparallax="8" class="rev-slidebg parallax-bg" data-no-retina>
	<!-- LAYERS -->
	<div id="rrzb_575" class="rev_row_zone rev_row_zone_bottom" style="z-index: 5;">

		<!-- LAYER NR. 1 -->
		<div class="tp-caption  "
			 id="slide-@Model.Index-layer-1"
			 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['683','683','683','683']"
			 data-width="none"
			 data-height="none"
			 data-whitespace="nowrap"
			 data-type="row"
			 data-columnbreak="2"
			 data-responsive_offset="on"
			 data-responsive="off"
			 data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
			 data-margintop="[0,0,0,0]"
			 data-marginright="[0,0,0,0]"
			 data-marginbottom="[50,50,0,0]"
			 data-marginleft="[0,0,0,0]"
			 data-textAlign="['inherit','inherit','inherit','inherit']"
			 data-paddingtop="[0,0,0,0]"
			 data-paddingright="[40,40,30,30]"
			 data-paddingbottom="[0,0,50,50]"
			 data-paddingleft="[40,40,30,30]"
			 style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
			<!-- LAYER NR. 2 -->
			<div class="tp-caption  "
				 id="slide-@Model.Index-layer-2"
				 data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
				 data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
				 data-width="none"
				 data-height="none"
				 data-whitespace="nowrap"
				 data-type="column"
				 data-responsive_offset="on"
				 data-responsive="off"
				 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				 data-columnwidth="33.33%"
				 data-verticalalign="top"
				 data-margintop="[0,0,0,0]"
				 data-marginright="[0,0,0,0]"
				 data-marginbottom="[0,0,0,0]"
				 data-marginleft="[0,0,0,0]"
				 data-textAlign="['inherit','inherit','inherit','inherit']"
				 data-paddingtop="[0,0,0,0]"
				 data-paddingright="[0,0,0,0]"
				 data-paddingbottom="[0,0,0,0]"
				 data-paddingleft="[0,0,0,0]"
				 style="z-index: 6; width: 100%;background-color:rgb(255,255,255);">
				<!-- LAYER NR. 3 -->
				<div class="tp-caption   tp-resizeme"
					 id="slide-@Model.Index-layer-5"
					 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
					 data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
					 data-width="none"
					 data-height="none"
					 data-whitespace="normal"
					 data-type="text"
					 data-responsive_offset="on"
					 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					 data-margintop="[20,20,20,20]"
					 data-marginright="[10,10,10,10]"
					 data-marginbottom="[0,0,0,0]"
					 data-marginleft="[40,20,20,20]"
					 data-textAlign="['inherit','inherit','inherit','inherit']"
					 data-paddingtop="[0,0,0,0]"
					 data-paddingright="[10,10,10,10]"
					 data-paddingbottom="[0,0,0,0]"
					 data-paddingleft="[10,10,10,10]"
					 style="z-index: 7; white-space: normal; font-size: 13px; line-height: 20px; font-weight: 700; color: #ffffff; letter-spacing: 0px; display: inline-block;font-family:Roboto;background-color:rgb(0,100,227);">
					@* 					@Model.CallsToAction.First() *@
				</div>

				<!-- LAYER NR. 4 -->
				<div class="tp-caption   tp-resizeme"
					 id="slide-@Model.Index-layer-6"
					 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
					 data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
					 data-width="none"
					 data-height="none"
					 data-whitespace="normal"
					 data-type="text"
					 data-responsive_offset="on"
					 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					 data-margintop="[20,20,20,20]"
					 data-marginright="[0,0,0,0]"
					 data-marginbottom="[0,0,0,0]"
					 data-marginleft="[0,0,0,0]"
					 data-textAlign="['inherit','inherit','inherit','inherit']"
					 data-paddingtop="[0,0,0,0]"
					 data-paddingright="[10,10,10,10]"
					 data-paddingbottom="[0,0,0,0]"
					 data-paddingleft="[10,10,10,10]"
					 style="z-index: 8; white-space: normal; font-size: 13px; line-height: 20px; font-weight: 700; color: #ffffff; letter-spacing: 0px; display: inline-block;font-family:Roboto;background-color:rgb(255,85,18);">
					@* 					@Model.CallsToAction.Skip(1).First() *@
				</div>

				<!-- LAYER NR. 5 -->
				<div class="tp-caption   tp-resizeme"
					 id="slide-@Model.Index-layer-7"
					 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
					 data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
					 data-width="none"
					 data-height="none"
					 data-whitespace="normal"
					 data-type="text"
					 data-responsive_offset="on"
					 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					 data-margintop="[30,30,30,30]"
					 data-marginright="[0,0,0,0]"
					 data-marginbottom="[0,0,0,0]"
					 data-marginleft="[40,20,20,20]"
					 data-textAlign="['inherit','inherit','inherit','inherit']"
					 data-paddingtop="[0,0,0,0]"
					 data-paddingright="[0,0,0,0]"
					 data-paddingbottom="[0,0,0,0]"
					 data-paddingleft="[0,0,0,0]"
					 style="z-index: 9; white-space: normal; font-size: 25px; line-height: 25px; font-weight: 500; color: #000000; letter-spacing: 0px; display: block;font-family:Roboto;">
					@Model.Title
				</div>

				<!-- LAYER NR. 6 -->
				<div class="tp-caption   tp-resizeme"
					 id="slide-@Model.Index-layer-8"
					 data-x="['left','left','left','left']" data-hoffset="['5','5','5','5']"
					 data-y="['top','top','top','top']" data-voffset="['5','5','5','5']"
					 data-width="none"
					 data-height="none"
					 data-whitespace="normal"
					 data-type="text"
					 data-responsive_offset="on"
					 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					 data-margintop="[10,10,10,10]"
					 data-marginright="[0,0,0,0]"
					 data-marginbottom="[0,0,0,0]"
					 data-marginleft="[40,20,20,20]"
					 data-textAlign="['inherit','inherit','inherit','inherit']"
					 data-paddingtop="[0,0,0,0]"
					 data-paddingright="[0,0,0,0]"
					 data-paddingbottom="[0,0,0,0]"
					 data-paddingleft="[0,0,0,0]"
					 style="z-index: 10; white-space: normal; font-size: 20px; line-height: 20px; font-weight: 500; color: #ff5512; letter-spacing: 0px; display: block;font-family:Roboto;">
					@Model.Subtitle
				</div>

				<!-- LAYER NR. 7 -->
				<div class="tp-caption   tp-resizeme"
					 id="slide-@Model.Index-layer-9"
					 data-x="['left','left','left','left']" data-hoffset="['10','10','10','10']"
					 data-y="['top','top','top','top']" data-voffset="['10','10','10','10']"
					 data-width="none"
					 data-height="none"
					 data-whitespace="normal"
					 data-type="text"
					 data-responsive_offset="on"
					 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					 data-margintop="[30,30,30,30]"
					 data-marginright="[40,40,40,40]"
					 data-marginbottom="[20,20,20,20]"
					 data-marginleft="[40,20,20,20]"
					 data-textAlign="['inherit','inherit','inherit','inherit']"
					 data-paddingtop="[0,0,0,0]"
					 data-paddingright="[0,0,0,0]"
					 data-paddingbottom="[0,0,0,0]"
					 data-paddingleft="[0,0,0,0]"
					 style="z-index: 11; white-space: normal; font-size: 15px; line-height: 25px; font-weight: 400; color: #555555; letter-spacing: 0px; display: block;font-family:Roboto;">
					@Model.Description
				</div>

				<!-- LAYER NR. 8 -->
				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
					 id="slide-@Model.Index-layer-21"
					 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
					 data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
					 data-width="60"
					 data-height="60"
					 data-whitespace="normal"
					 data-visibility="['on','on','off','off']"
					 data-type="shape"
					 data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-@Model.Index-layer-23","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-@Model.Index-layer-23","delay":""},{"event":"mouseenter","action":"pauseslider","delay":""},{"event":"mouseleave","action":"playslider","delay":""}]'
					 data-responsive_offset="on"
					 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bc:rgb(255,85,18);"}]'
					 data-margintop="[0,0,0,0]"
					 data-marginright="[0,0,0,0]"
					 data-marginbottom="[0,0,0,0]"
					 data-marginleft="[40,20,20,20]"
					 data-textAlign="['inherit','inherit','inherit','inherit']"
					 data-paddingtop="[0,0,0,0]"
					 data-paddingright="[0,0,0,0]"
					 data-paddingbottom="[0,0,0,0]"
					 data-paddingleft="[0,0,0,0]"
					 style="z-index: 23; display: inline-block;background-color:rgba(0,0,0,0.5);border-color:rgb(0,0,0);border-style:solid;border-width:3px 3px 3px 3px;cursor:pointer;">
					<div class="tp-element-background" style=" background: url('@Model.Images.First(x => x.Key == KeyBuilder.Thumb(1)).Src') no-repeat center center; background-size: cover; opacity: 1;"></div>
				</div>

				<!-- LAYER NR. 9 -->
				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
					 id="slide-@Model.Index-layer-25"
					 data-x="['left','left','left','left']" data-hoffset="['5','0','0','0']"
					 data-y="['top','top','top','top']" data-voffset="['5','0','0','0']"
					 data-width="60"
					 data-height="60"
					 data-whitespace="normal"
					 data-visibility="['on','on','off','off']"
					 data-type="shape"
					 data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-@Model.Index-layer-27","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-@Model.Index-layer-27","delay":""},{"event":"mouseenter","action":"pauseslider","delay":""},{"event":"mouseleave","action":"playslider","delay":""}]'
					 data-responsive_offset="on"
					 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bc:rgb(255,85,18);"}]'
					 data-margintop="[0,0,0,0]"
					 data-marginright="[0,0,0,0]"
					 data-marginbottom="[0,0,0,0]"
					 data-marginleft="[10,10,20,20]"
					 data-textAlign="['inherit','inherit','inherit','inherit']"
					 data-paddingtop="[0,0,0,0]"
					 data-paddingright="[0,0,0,0]"
					 data-paddingbottom="[0,0,0,0]"
					 data-paddingleft="[0,0,0,0]"
					 style="z-index: 24; display: inline-block;background-color:rgba(0,0,0,0.5);border-color:rgb(0,0,0);border-style:solid;border-width:3px 3px 3px 3px;cursor:pointer;">
					<div class="tp-element-background" style=" background: url('@Model.Images.First(x => x.Key == KeyBuilder.Thumb(2)).Src') no-repeat center center; background-size: cover; opacity: 1;"></div>
				</div>

				<!-- LAYER NR. 10 -->
				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
					 id="slide-@Model.Index-layer-26"
					 data-x="['left','left','left','left']" data-hoffset="['10','0','0','0']"
					 data-y="['top','top','top','top']" data-voffset="['10','0','0','0']"
					 data-width="60"
					 data-height="60"
					 data-whitespace="normal"
					 data-visibility="['on','on','off','off']"
					 data-type="shape"
					 data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-@Model.Index-layer-29","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-@Model.Index-layer-29","delay":""},{"event":"mouseenter","action":"pauseslider","delay":""},{"event":"mouseleave","action":"playslider","delay":""}]'
					 data-responsive_offset="on"
					 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bc:rgb(255,85,18);"}]'
					 data-margintop="[0,0,0,0]"
					 data-marginright="[0,0,0,0]"
					 data-marginbottom="[0,0,0,0]"
					 data-marginleft="[10,10,20,20]"
					 data-textAlign="['inherit','inherit','inherit','inherit']"
					 data-paddingtop="[0,0,0,0]"
					 data-paddingright="[0,0,0,0]"
					 data-paddingbottom="[0,0,0,0]"
					 data-paddingleft="[0,0,0,0]"
					 style="z-index: 25; display: inline-block;background-color:rgba(0,0,0,0.5);border-color:rgb(0,0,0);border-style:solid;border-width:3px 3px 3px 3px;cursor:pointer;">
					<div class="tp-element-background" style=" background: url('@Model.Images.First(x => x.Key == KeyBuilder.Thumb(3)).Src') no-repeat center center; background-size: cover; opacity: 1;"></div>
				</div>

				<!-- LAYER NR. 11 -->
				@* 				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
				id="slide-@Model.Index-layer-10"
				data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
				data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
				data-width="100%"
				data-height="1"
				data-whitespace="normal"
				data-type="shape"
				data-responsive_offset="on"
				data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-margintop="[20,20,20,20]"
				data-marginright="[0,0,0,0]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[0,0,0,0]"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"
				style="z-index: 12; display: block;background-color:rgb(221,221,221);"> </div>

				<!-- LAYER NR. 12 -->
				<div class="tp-caption   tp-resizeme"
				id="slide-@Model.Index-layer-11"
				data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
				data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
				data-width="none"
				data-height="none"
				data-whitespace="normal"
				data-type="image"
				data-responsive_offset="on"
				data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-margintop="[20,20,20,20]"
				data-marginright="[10,10,10,10]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[40,20,20,20]"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"
				style="z-index: 13; display: inline-block;">
				<img src="~/include/rs-plugin/demos/assets/images/placeholder.png" alt="Image" data-ww="['20px','20px','20px','20px']" data-hh="['20px','20px','20px','20px']" data-no-retina>
				</div> *@

				<!-- LAYER NR. 13 -->
				@* 				<div class="tp-caption   tp-resizeme"
				id="slide-@Model.Index-layer-12"
				data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
				data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
				data-width="none"
				data-height="none"
				data-whitespace="normal"
				data-type="text"
				data-responsive_offset="on"
				data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-margintop="[20,20,20,20]"
				data-marginright="[0,0,0,0]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[0,0,0,0]"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"
				style="z-index: 14; white-space: normal; font-size: 17px; line-height: 20px; font-weight: 500; color: #000000; letter-spacing: 0px; display: inline-block;font-family:Roboto;">
				@Model.Location
				</div>

				<!-- LAYER NR. 14 -->
				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
				id="slide-@Model.Index-layer-13"
				data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
				data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
				data-width="100%"
				data-height="10"
				data-whitespace="normal"
				data-type="shape"
				data-responsive_offset="on"
				data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-margintop="[0,0,0,0]"
				data-marginright="[0,0,0,0]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[0,0,0,0]"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"
				style="z-index: 15; display: block;"> </div>

				<!-- LAYER NR. 15 -->
				<div class="tp-caption   tp-resizeme"
				id="slide-@Model.Index-layer-14"
				data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
				data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
				data-width="none"
				data-height="none"
				data-whitespace="normal"
				data-type="image"
				data-responsive_offset="on"
				data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-margintop="[0,0,0,0]"
				data-marginright="[10,10,10,10]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[40,20,20,20]"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"
				style="z-index: 16; display: inline-block;">
				<img src="include/rs-plugin/demos/assets/images/bed.png" alt="Image" data-ww="['20px','20px','20px','20px']" data-hh="['20px','20px','20px','20px']" data-no-retina>
				</div>

				<!-- LAYER NR. 16 -->
				<div class="tp-caption   tp-resizeme"
				id="slide-@Model.Index-layer-15"
				data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
				data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
				data-width="none"
				data-height="none"
				data-whitespace="normal"
				data-type="text"
				data-responsive_offset="on"
				data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-margintop="[0,0,0,0]"
				data-marginright="[0,0,0,0]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[0,0,0,0]"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"
				style="z-index: 17; white-space: normal; font-size: 17px; line-height: 20px; font-weight: 500; color: #000000; letter-spacing: 0px; display: inline-block;font-family:Roboto;">
				3
				</div>

				<!-- LAYER NR. 17 -->
				<div class="tp-caption   tp-resizeme"
				id="slide-@Model.Index-layer-16"
				data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
				data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
				data-width="none"
				data-height="none"
				data-whitespace="normal"
				data-type="image"
				data-responsive_offset="on"
				data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-margintop="[0,0,0,0]"
				data-marginright="[10,10,10,10]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[30,30,30,30]"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"
				style="z-index: 18; display: inline-block;">
				<img src="include/rs-plugin/demos/assets/images/bathtub.png" alt="Image" data-ww="['20px','20px','20px','20px']" data-hh="['20px','20px','20px','20px']" data-no-retina>
				</div>

				<!-- LAYER NR. 18 -->
				<div class="tp-caption   tp-resizeme"
				id="slide-@Model.Index-layer-17"
				data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
				data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
				data-width="none"
				data-height="none"
				data-whitespace="normal"
				data-type="text"
				data-responsive_offset="on"
				data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-margintop="[0,0,0,0]"
				data-marginright="[0,0,0,0]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[0,0,0,0]"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"
				style="z-index: 19; white-space: normal; font-size: 17px; line-height: 20px; font-weight: 500; color: #000000; letter-spacing: 0px; display: inline-block;font-family:Roboto;">
				2
				</div>

				<!-- LAYER NR. 19 -->
				<div class="tp-caption   tp-resizeme"
				id="slide-@Model.Index-layer-18"
				data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
				data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
				data-width="none"
				data-height="none"
				data-whitespace="normal"
				data-type="image"
				data-responsive_offset="on"
				data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-margintop="[0,0,0,0]"
				data-marginright="[10,10,10,10]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[30,30,30,30]"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"
				style="z-index: 20; display: inline-block;">
				<img src="include/rs-plugin/demos/assets/images/select.png" alt="Image" data-ww="['20px','20px','20px','20px']" data-hh="['20px','20px','20px','20px']" data-no-retina>
				</div>

				<!-- LAYER NR. 20 -->
				<div class="tp-caption   tp-resizeme"
				id="slide-@Model.Index-layer-19"
				data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
				data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
				data-width="none"
				data-height="none"
				data-whitespace="normal"
				data-type="text"
				data-responsive_offset="on"
				data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				data-margintop="[0,0,0,0]"
				data-marginright="[0,0,0,0]"
				data-marginbottom="[0,0,0,0]"
				data-marginleft="[0,0,0,0]"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"
				style="z-index: 21; white-space: normal; font-size: 17px; line-height: 20px; font-weight: 500; color: #000000; letter-spacing: 0px; display: inline-block;font-family:Roboto;">
				250,00 ft²
				</div> *@

				<!-- LAYER NR. 21 -->
				<div class="tp-caption rev-btn  tp-resizeme"
					 id="slide-@Model.Index-layer-20"
					 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
					 data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
					 data-width="100%"
					 data-height="none"
					 data-whitespace="normal"
					 data-type="button"
					 data-responsive_offset="on"
					 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;fbr:100;","to":"o:1;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fbr:110%;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
					 data-margintop="[30,30,30,30]"
					 data-marginright="[0,0,0,0]"
					 data-marginbottom="[0,0,0,0]"
					 data-marginleft="[0,0,0,0]"
					 data-textAlign="['center','center','center','center']"
					 data-paddingtop="[0,0,0,0]"
					 data-paddingright="[0,0,0,0]"
					 data-paddingbottom="[0,0,0,0]"
					 data-paddingleft="[0,0,0,0]"
					 style="z-index: 22; min-width: 100%; max-width: 100%; white-space: normal; font-size: 20px; line-height: 60px; font-weight: 700; color: rgba(255,255,255,1); display: block;font-family:Roboto;background-color:rgb(255,85,18);border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					@* <a class="	" href="~/contact"><i class="fa-solid fa-phone" style="margin-right:10px;"></i>Get A Quote</a> *@
					<a href="~/contact" class="text-white"><i class="fa-solid fa-message" style="margin-right:10px;"></i>Get A Quote</a>
				</div>
			</div>

			<!-- LAYER NR. 22 -->
			<div class="tp-caption  "
				 id="slide-@Model.Index-layer-3"
				 data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
				 data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
				 data-width="none"
				 data-height="none"
				 data-whitespace="nowrap"
				 data-type="column"
				 data-responsive_offset="on"
				 data-responsive="off"
				 data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
				 data-columnwidth="66.67%"
				 data-verticalalign="top"
				 data-margintop="[0,0,0,0]"
				 data-marginright="[0,0,0,0]"
				 data-marginbottom="[0,0,0,0]"
				 data-marginleft="[0,0,0,0]"
				 data-textAlign="['inherit','inherit','inherit','inherit']"
				 data-paddingtop="[0,0,0,0]"
				 data-paddingright="[0,0,0,0]"
				 data-paddingbottom="[0,0,0,0]"
				 data-paddingleft="[0,0,0,0]"
				 style="z-index: 26; width: 100%;">
			</div>
		</div>
	</div>

	<!-- LAYER NR. 23 -->
	<div class="tp-caption   tp-resizeme  re-shadow"
		 id="slide-@Model.Index-layer-23"
		 data-x="['left','left','left','left']" data-hoffset="['400','330','50','50']"
		 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['140','160','350','350']"
		 data-width="none"
		 data-height="none"
		 data-whitespace="normal"
		 data-visibility="['on','on','off','off']"
		 data-type="image"
		 data-responsive_offset="on"
		 data-frames='[{"delay":"bytrigger","speed":600,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
		 data-textAlign="['inherit','inherit','inherit','inherit']"
		 data-paddingtop="[0,0,0,0]"
		 data-paddingright="[0,0,0,0]"
		 data-paddingbottom="[0,0,0,0]"
		 data-paddingleft="[0,0,0,0]"
		 data-lasttriggerstate="reset"
		 style="z-index: 27;">
		<img src="@Model.Images.First(x => x.Key == KeyBuilder.SlideMain(1)).Src" alt="Image" data-ww="['640px','640px','360px','360px']" data-hh="['360px','360px','249px','249']" data-no-retina>
	</div>

	<!-- LAYER NR. 24 -->
	<div class="tp-caption   tp-resizeme  re-shadow"
		 id="slide-@Model.Index-layer-27"
		 data-x="['left','left','left','left']" data-hoffset="['400','330','50','50']"
		 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['140','160','350','350']"
		 data-width="none"
		 data-height="none"
		 data-whitespace="normal"
		 data-visibility="['on','on','off','off']"
		 data-type="image"
		 data-responsive_offset="on"
		 data-frames='[{"delay":"bytrigger","speed":600,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
		 data-textAlign="['inherit','inherit','inherit','inherit']"
		 data-paddingtop="[0,0,0,0]"
		 data-paddingright="[0,0,0,0]"
		 data-paddingbottom="[0,0,0,0]"
		 data-paddingleft="[0,0,0,0]"
		 data-lasttriggerstate="reset"
		 style="z-index: 28;">
		<img src="@Model.Images.First(x => x.Key == KeyBuilder.SlideMain(2)).Src" alt="Image" data-ww="['640px','640px','360px','360px']" data-hh="['360px','360px','249px','249']" data-no-retina>
	</div>

	<!-- LAYER NR. 25 -->
	<div class="tp-caption   tp-resizeme  re-shadow"
		 id="slide-@Model.Index-layer-29"
		 data-x="['left','left','left','left']" data-hoffset="['400','330','50','50']"
		 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['140','160','350','350']"
		 data-width="none"
		 data-height="none"
		 data-whitespace="normal"
		 data-visibility="['on','on','off','off']"
		 data-type="image"
		 data-responsive_offset="on"
		 data-frames='[{"delay":"bytrigger","speed":600,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
		 data-textAlign="['inherit','inherit','inherit','inherit']"
		 data-paddingtop="[0,0,0,0]"
		 data-paddingright="[0,0,0,0]"
		 data-paddingbottom="[0,0,0,0]"
		 data-paddingleft="[0,0,0,0]"
		 data-lasttriggerstate="reset"
		 style="z-index: 29;">
		<img src="@Model.Images.First(x => x.Key == KeyBuilder.SlideMain(3)).Src" alt="Image" data-ww="['640px','640px','360px','360px']" data-hh="['360px','360px','249px','249']" data-no-retina>
	</div>
</li>